@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
}



button{
    cursor: pointer;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


#header .active{
    color:#0B0706;
}


.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar_links{
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
color: #525560;
}

.header_right{
  display: flex;
  align-items: center;
  gap: 40px;
}

.header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 2rem;
}

.header_button{
padding: 12px 32px;
border-radius: 4px;
background-color: #1D2130;
color: white;
border: 2px solid transparent;
transition: all 0.3s ease;
}

.header_button:hover{
color: #1D2130;
background-color: white;
border: 2px solid #1D2130;
}

/* HomeShowcaseCom */

.inside1 h1{
font-size: 64px;
font-weight: 700;
line-height: 76.8px;
color: white;
width: 640px;
height: 231px;
}

.btn1{
padding: 16px 32px;
border-radius: 4px;
background: white;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
border:none;
}

.btn1:hover{
padding: 16px 32px;
border-radius: 4px;
background: transparent;
color: white;
}
.btn2{
padding: 16px 32px;
border-radius: 4px;
background: transparent;
color: white;
display: flex;
gap: 10px;
align-items: center;
border:none;
}
.btn2:hover{
padding: 16px 32px;
border-radius: 4px;
background: white;
color: #0B0706;
}

.inside2{
  display: flex;
  align-items: center;
  gap: 20px;
}

.wrapper_of_showcase_home{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 50px;

}

.down p{
font-size: 18px;
font-weight: 500;
line-height: 21.09px;
color: white;
}

.down{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  
}

.up{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 40px;
}

/* Home Hero */
.Home_Hero_section{
  margin-top: 96px;
}
.homeHeroWrapper{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 40px;
align-items: center;
}
.hh_left{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hh_left h3{
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
letter-spacing: 2px;
color: #1D2130;
}
.hh_left h2{
font-size: 48px;
font-weight: 700;
line-height: 57.6px;
color: #1D2130;
}
.hh_left p{
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
color: #525560;
}

.hh_left .hh_btn{
padding: 16px 32px;
border-radius: 4px;
background-color:#70C174;
font-size: 16px;
font-weight: 500;
color: white;
border:1px ;
line-height: 18.75px;
width: 146px;
height: 51px;
transition: all 0.3s ease;

}

.bottom{
  margin-top: 50px;
}

.bottom_title h3{
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
letter-spacing: 2px;
color: #1D2130;
}

.bottom_cards{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.bottom_cards img{
  cursor: pointer;
}

/* about */
.about_title h3{
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
letter-spacing: 2px;
color: #1D2130;
}
.about_title_wrapper_block1 h2{
font-size: 56px;
font-weight: 700;
line-height: 67.2px;
color: #1D2130;
}

.about_title_wrapper_block2 h3{
font-size: 20px;
font-weight: 700;
line-height: 30px;
color: #1D2130;
}

.about_title_wrapper_block2 p{
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
color:#1D2130;
}

.about_section{
  margin-top: 30px;
}


.about_title_wrapper{
  padding: 20px;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.about_title_wrapper_block2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div_for_about_img{
  margin-top: 60px;
}

.about_our_wrapper h3{
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
letter-spacing: 2px;
color: #1D2130;
}

.about_our_wrapper h2{
font-size: 28px;
font-weight: 700;
line-height: 42px;
text-align: left;
color: #1D2130;
}
.about_our_wrapper p{
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
color: #1D2130;
}

.about_our{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  gap: 30px;
}

.about_our_wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

/* what */

.whatTitle h3{
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
letter-spacing: 2px;
color: #1D2130;
}

.whatSh_left h2{
font-size: 56px;
font-weight: 700;
line-height: 67.2px;
color: #1D2130;
}
.whatSh_left p{
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
color: #525560;
}

.whatShowcase{
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px;
  margin-top: 30px;
}
.whatSh_left{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.whatShowcaseSection{
  margin-top: 50px;
}

/* what Hero */

.secondDiv h3{
font-size: 24px;
font-weight: 700;
line-height: 28.13px;
color: #1D2130;
}
.secondDiv p{
font-size: 14px;
font-weight: 400;
line-height: 22.4px;
color: #55565E;
}

.whatHeroSection{
  background-color: #EFF7F2;
  padding: 50px;
}
.whatHeroTitle h2{
font-size: 48px;
font-weight: 700;
line-height: 57.6px;
color: #1D2130;
}
.whatHeroCards{
  display: flex;
  gap: 20px;
}
.secondDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.whatHeroWrapper{
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 50px;
}

/* media */
.media_title h3{
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
letter-spacing: 2px;
color: #1D2130;
}
.sleva h2{
font-size: 56px;
font-weight: 700;
line-height: 67.2px;
color: #1D2130;
}

.sleva p{
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
color: #525560;
}

.media_btn{
padding: 16px 32px ;
border-radius: 4px;
background-color: #70C174;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
color: #FFFFFF;
border: none;
width: 142px;
height: 51px;

}

.media_showcase_wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px;

  
}
.sleva{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.prava_wrapper{
  display: flex;
  align-items: center;
  gap: 20px;
}
.prava{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.prava_inside_right{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prava{
  background: #ffffff;
  padding: 20px;
}
.media_showcase_section{
  background-color: #EFF7F2;
  padding: 40px;
}

.prava_inside_right h3{
font-size: 20px;
font-weight: 700;
line-height: 30px;
color: #1D2130;
}
.prava_inside_right p{
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
color: #525560;
}
/* media hero */

.media_hero_cards{
  display: flex;
  align-items: center;
  gap: 24px;

}
.media_card{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.media_hero_title h2{
font-size: 48px;
font-weight: 700;
line-height: 57.6px;
text-align: center;
color: #1D2130;
}
.media_hero_title p{
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
text-align: center;
color: #1D2130;
}
.media_hero_section{
  margin-top: 100px;
}
.media_hero_cards{
  margin: 50px;
}

.media_card h3{
font-size: 20px;
font-weight: 500;
line-height: 30px;
color: #1D2130;
}
.media_card p{
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
color: #525560;
}
/* contact */

.contactShowSection{
  background-color: #EBF0F9;
  padding: 50px;
}

.contact_left h3{
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
letter-spacing: 2px;
color: #1D2130;
}
.contact_left h2{
font-size: 56px;
font-weight: 700;
line-height: 67.2px;
color: #1D2130;
}
.contact_left p{
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
color: #1D2130;
}
.contact_Show_Wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.contact_left{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact_right{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.wrap_inside1 h3{
font-size: 24px;
font-weight: 700;
line-height: 38.4px;
color:#1D2130;
}

.wrap_inside2 a{
font-size: 16px;
font-weight: 400;
line-height: 28px;
color: #1D2130;
}

.wrap_inside2{
  display: flex;
  gap: 40px;
}
.icons{
  display: flex;
  gap: 20px;
  cursor: pointer;
}

/* contact hero */
.inputs input{
  border-top: #E5E5E5;
  border-left: #E5E5E5;
  border-right: #E5E5E5;
  outline: none;
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
color: #1D2130;
}

.inputs label{
font-size: 12px;
font-weight: 700;
line-height: 19.2px;
color: #232536;
font-size: 12px;
font-weight: 700;
line-height: 19.2px;
}

.contact_hero_section{
  margin-top: 50px;
  padding: 50px;
}
.contact_about_wrapper{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 60px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 120px;
}

.inputs{
  display: flex;
  flex-direction: column;
  text-align: center;
}


.contact_btn{
  width: 170px;
height: 51px;
padding: 16px 32px;
border-radius: 4px;
background-color: #70C174;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
color: #FFFFFF;
border: none;
}

.btn{
  margin-top: 30px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.donate_btn{

}


.donate_btn{
padding: 16px 32px;
border-radius: 4px;
background: white;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
}

.donate_btn:hover{
padding: 16px 32px;
border-radius: 4px;
background: #1D2130;
color: white;
}